/* skills */

.tint {
  display: flex;
  justify-content: center;
  padding: 25px 100px;
  margin-bottom: 30px;

  border-radius: 4px;
  background: $color4;
}

.icon {
  width: 70px;
  height: 70px;

  background-repeat: no-repeat;
}

.skills {
  border-bottom: 1px solid $color5;
}

.skills-list {
  display: flex;
}

.skills-item {
  width: calc((100%-60px) / 4);
  .skills-list & + & {
    margin-left: 29px;
  }
}

.skills-title {
  margin-top: 0;
  margin-bottom: 10;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: $color;
}

.description-skills {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $color2;
}
