
  $color: #212121;
  $color1: #2196f3;
  $color2: #757575;
  $color3: #fff;
  $color4: #f5f4fa;
  $color5: #ececec;
  $color6: #afb1b8;
  $color7: #2f303a;
  $color8: #eeeeee;
  $color9: rgba(33, 150, 243, 0.9);

  $bshadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
  0px 1px 1px rgba(0, 0, 0, 0.12);

  $transform: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  $main-width: 1200px;
  $main-padding: 15px;